*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

.cascading-right {
  margin-right: -50px;
}
@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}


/*body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

.background-radial-gradient {

/*  background-color: hsl(218, 70%, 30%);*/
  background-image: 
url("./images/image6.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
 /* radial-gradient(
      650px circle at 0% 0%,
      hsl(200, 41%, 35%) 15%,
      hsl(200, 41%, 30%) 35%,
      hsl(200, 41%, 20%) 75%,
      hsl(200, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(200, 41%, 45%) 15%,
      hsl(200, 41%, 30%) 35%,
      hsl(200, 41%, 20%) 75%,
      hsl(200, 41%, 19%) 80%,
      transparent 100%
    );*/
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -10px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}
#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}
.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.bg-front {
  background-color: #FCFAFA !important;
  
}

#bg-image {

  min-height: 22rem;
  background-image: url("https://i.postimg.cc/DwkrRWCn/received-774891986982581-1.webp");
  background-repeat: no-repeat;

  background-size: 50% 50%;
  background-position: bottom;
  background-attachment: scroll;
  
  
  }

  .front-bg {
    background-color: black;
    background: rgba(0, 0, 0, 0.5);
    text-align: right;
      
  }